<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Implant Survival Prediction Model (12 months)</title>
</head>
<body>
    <h1>Implant Survival Prediction Model (12 months)</h1>
    <form action="/predict" method="post">
        <label for="age">Age:</label><br>
        <input type="radio" id="age1" name="age" value="1">
        <label for="age1">&lt;18</label><br>
        <input type="radio" id="age2" name="age" value="2">
        <label for="age2">18-40</label><br>
        <input type="radio" id="age3" name="age" value="3">
        <label for="age3">41-65</label><br>
        <input type="radio" id="age4" name="age" value="4">
        <label for="age4">&gt;65</label><br><br>

        <label for="bmi">BMI:</label><br>
        <input type="radio" id="bmi1" name="bmi" value="1">
        <label for="bmi1">&lt;18.5</label><br>
        <input type="radio" id="bmi2" name="bmi" value="2">
        <label for="bmi2">18.5-24.9</label><br>
        <input type="radio" id="bmi3" name="bmi" value="3">
        <label for="bmi3">25-29.9</label><br>
        <input type="radio" id="bmi4" name="bmi" value="4">
        <label for="bmi4">30-39.9</label><br>
        <input type="radio" id="bmi5" name="bmi" value="5">
        <label for="bmi5">&gt;40</label><br><br>

        <label for="sex">Gender:</label><br>
        <input type="radio" id="sex1" name="sex" value="1">
        <label for="sex1">Male</label><br>
        <input type="radio" id="sex0" name="sex" value="0">
        <label for="sex0">Female</label><br><br>

        <label for="diagnosis">Diagnosis:</label><br>
        <input type="radio" id="diagnosis1" name="diagnosis" value="1">
        <label for="diagnosis1">Primary</label><br>
        <input type="radio" id="diagnosis0" name="diagnosis" value="0">
        <label for="diagnosis0">Metastatic</label><br><br>

        <label for="location">Location:</label><br>
        <input type="radio" id="location1" name="location" value="1">
        <label for="location1">Upper extremity</label><br>
        <input type="radio" id="location2" name="location" value="2">
        <label for="location2">Lower extremity</label><br><br>

        <label for="resection">Resection (mm):</label><br>
        <input type="radio" id="resection1" name="resection" value="1">
        <label for="resection1">&lt;120</label><br>
        <input type="radio" id="resection2" name="resection" value="2">
        <label for="resection2">121-199</label><br>
        <input type="radio" id="resection3" name="resection" value="3">
        <label for="resection3">200-299</label><br>
        <input type="radio" id="resection4" name="resection" value="4">
        <label for="resection4">&gt;300</label><br><br>

        <label for="revision">Number of surgeries:</label><br>
        <input type="radio" id="revision1" name="revision" value="1">
        <label for="revision1">1</label><br>
        <input type="radio" id="revision2" name="revision" value="2">
        <label for="revision2">2</label><br>
        <input type="radio" id="revision3" name="revision" value="3">
        <label for="revision3">3</label><br>
        <input type="radio" id="revision4" name="revision" value="4">
        <label for="revision4">&gt;3</label><br><br>

        <label for="infection">History of infection:</label><br>
        <input type="radio" id="infection1" name="infection" value="1">
        <label for="infection1">Yes</label><br>
        <input type="radio" id="infection0" name="infection" value="0">
        <label for="infection0">No</label><br><br>

        <label for="ct">Chemotherapy:</label><br>
        <input type="radio" id="ct1" name="ct" value="1">
        <label for="ct1">Yes</label><br>
        <input type="radio" id="ct0" name="ct" value="0">
        <label for="ct0">No</label><br><br>

        <label for="rt">Radiation therapy:</label><br>
        <input type="radio" id="rt1" name="rt" value="1">
        <label for="rt1">Yes</label><br>
        <input type="radio" id="rt0" name="rt" value="0">
        <label for="rt0">No</label><br><br>

        <button type="submit">Predict</button>
    </form>
</body>
</html>
